body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:400px;
    margin: 0;
    padding: 0;
    height:auto;
    display:block;
    z-index:999;
}

.noscriptmsg {
    text-align: center;
    padding: 100px;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    background-color: lightskyblue;
    border-radius: 16px;
}
