body {
    margin: 0;
    padding: 0;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    background-color: white;
    border-radius: 16px;
}

h2 {
    margin: 15px;
    color: #ff7f50;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: 1px lightgray solid;
    height: 40px;
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:400px;
    margin: 0;
    padding: 0;
    height:auto;
    display:block;
    z-index:999;
}

.noscriptmsg {
    text-align: center;
    padding: 100px;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    background-color: lightskyblue;
    border-radius: 16px;
}
